@import "tailwindcss";


:root {
    --color-primary: #10B981;
    --color-secondary: #6EE7B7;
    --color-background: #F0FDF4;
    --color-text: #033427;
    --color-gray: rgba(0, 0, 0, 0.2);
    --color-lightgray: #e0e0e0
}


body {
    text-align: center;
    background: var(--color-background);
}


.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(16px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fade-in-up 0.3s ease-out forwards;
}